body { 
    background: #0d0000; 
    color: #ffcccc; 
    font-family: sans-serif; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
#login-screen, #chat-container { 
    background: #1a0000; 
    border: 2px solid #550000; 
    padding: 20px; 
    border-radius: 10px; 
    width: 400px;
    box-shadow: 0 0 20px #400000;
}
input { 
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    background: #2a0000; 
    border: 1px solid #800000; 
    color: white; 
}
button { 
    width: 100%; 
    padding: 10px; 
    background: #800000; 
    color: white; 
    border: none; 
    cursor: pointer; 
}
button:hover { background: #b30000; }
#messages { 
    height: 300px; 
    overflow-y: auto; 
    border: 1px solid #330000; 
    background: #050000; 
    margin-bottom: 10px; 
    padding: 5px; 
}
.message-sender { color: #ff4d4d; font-weight: bold; }